body {
  background-image: url(./elements/backgroung\ pic.jpg);
}
h1{
  color: white;
}


/*--------------Timer--------------*/
form {
  width: 1500px;
  height: 150px;
}

input[type=Reset] {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  cursor: pointer;
}

input[type=Input] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type=Mins] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type=text]:focus {
  background-color: lightblue;
}

a {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  cursor: pointer;
  background-color: rgb(241, 240, 240);
  color: black;
  text-decoration: none;
}

/*--------------calculator--------------*/

table {
  width: 500px;
  height: 400px;
}

input[type="button"] {
  border-radius: 10px;
  background-color: #1fade6;
  color: black;
  border-color: #1fade6;
  width: 100%;
  height: 100%;
  font-size: 30px;
}

input[type="text"] {
  border-radius: 10px;
  text-align: left;
  background-color: white;
  border-color: black;
  font-size: 30px;
  height: 98%;
  width: 100%
}